table|Level|level|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|DI Tag Low|di_tag_lo|25|
string|DI Tag High|di_tag_hi|25|
string|AI Tag Level|ai_tag_level|25|
double|Volume Low to High|volume_lo_hi|
#LEVEL1|Level Point Atemajac|LO_LEVEL|HI_LEVEL|LEVEL|3.0|
# tag
# description
# di point (low level)
# di point (high level)
# ai point (level)
# volume low to high in desired units

